:root {
    --backgroundcolor: #15202B;
    --cardcolor: #192734;
    --hovercolor:#22303c;
    --primarytext:#ffffff;
    --secondarytext:#8899a6;
}

* {
	box-sizing: border-box;
	background-color: var(--backgroundcolor);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
}

.header {
	padding: 60px;
	text-align: center;
	background: var(--backgroundcolor);
	color: var(--primarytext);
}

.header2 {
	padding: 60px 60px 0px 60px;
	text-align: center;
	background: var(--backgroundcolor);
	color: var(--primarytext);
}

.nav {
	display:flex;
	background-color: var(--cardcolor);
}

.nav a {
	color: var(--secondarytext);
	padding: 15px 175px;
	text-decoration: none;
	text-align: center;
}

.nav a:hover {
	background-color: var(--hovercolor);
	color: var(--primarytext);
}

.row {
	display:flex;
	flex-flow: row wrap;
	align-content: space-around;
	background: var(--backgroundcolor);
	color: var(--primarytext);
}

.main {
	flex: 100%;
	padding: 5%;
	align-content: center;
}

.imagelarge {
	width: 100%;
	height: auto;
}

.imagesmall {
	width: 49%;
	height: auto;
	padding-left: 2%;
	padding-bottom: 2%;
}

.imagemain {
	border-radius: 50%;
}


@media screen and (max-width: 700px) {
	.row, .nav {   
	  flex-direction: column;
}
